* {
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.dark-mode__toggle {
  height: 50px;
  position: relative;
  width: 100px;
}

button {
  width: 100px;
  height: 100px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}
